head
  title= data.title
  link(
    rel="shortcut icon" 
    type="image/png" 
    href="assets/img/favicon.png"
  )
  link(
    rel="stylesheet" 
    type="text/css" 
    href="assets/style/style.css"
  )